
#myBody {
    background-color: black;
}

img.iPhoneMain {
    height: 40vh;
}

div.hero-image {
    background-color: black;
}

h1 {
    color: #eeeeee;
}

h2 {
    color: #cccccc;
}

div.testimony-container {
    padding-top: 10vh;
}

div.testimony {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 5vh;
}

img.testimony {
    height: 20vh;
}

p.testimony {
    color: #cccccc;
    font-size: 4vh;
}

div.purchase {
    margin-left: 12vw;
    margin-right: 12vw;
}

div.purchase-info {
    margin-left: 4vw;
    margin-right: 4vw;
}

iframe {
    width: 90vw;
    height: 90vh;
}

div.feature {
    font-size: 5vh;
    color: #cccccc;
}