
#myBody {
    background-color: black;
}

@keyframes image-fade-in {
    from {height: 4vh; opacity: 0%;}
    to {height: 40vh; opacity: 100%;}
}

img.iPhoneMain {
    height: 40vh;
    animation-name: image-fade-in;
    animation-duration: 1s;
}

div.hero-image {
    background-color: black;
}

@keyframes feature-fade-in {
    0% {margin-left: -10vw; opacity: 0%;}
    60% {margin-left: -10vw; opacity: 0%;}
    100% {margin-left: none; opacity: 100%;}
}

div.feature {
    font-size: 5vh;
    color: #cccccc;
    animation: feature-fade-in 8s;
}

h1 {
    color: #eeeeee;
}

h2 {
    color: #cccccc;
}

div.testimony-container {
    padding-top: 10vh;
}

div.testimony {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 5vh;
}

img.testimony {
    height: 20vh;
}

p.testimony {
    color: #cccccc;
    font-size: 4vh;
}

div.purchase {
    margin-left: 12vw;
    margin-right: 12vw;
}

div.purchase-info {
    margin-left: 4vw;
    margin-right: 4vw;
}

@keyframes video-fade-in {
    0% {height: 0vw; width: 0vw;}
    60% {height: 0vw; width: 0vw;}
    100% {height: 90vh; width: 90vw;}
}

iframe {
    width: 90vw;
    height: 90vh;
    animation: video-fade-in 4s;
}