
#myBody {
    background-color: black;
}

img.iPhoneMain {
    height: 40vh;
}

div.hero-image {
    background-color: black;
}

h1 {
    color: #eeeeee;
}

h2 {
    color: #cccccc;
    font-size: 2px;
}

iframe {
    width: 90vw;
    height: 90vh;
}

div.feature {
    font-size: 5vh;
    color: #cccccc;
}